# No subir
### Eclipse ###
\.buildpath
\.project
\.settings/
### Carpeta de librearías externas (AdminLTE, Bootstrap) ###
library/
no_publicar/
nbproject/
# Created by https://www.gitignore.io/api/windows
# Edit at https://www.gitignore.io/?templates=windows
### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
info_github.txt
# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/windows